Slicing(revision)

In [1]:
a = [1,2,3,4,5]

In [2]:
a[2:4]

[3, 4]

In [3]:
a[3:]

[4, 5]

In [5]:
a[:5]

[1, 2, 3, 4, 5]

In [6]:
a[::1]

[1, 2, 3, 4, 5]

In [7]:
a[::2]

[1, 3, 5]

In [14]:
a[-5:-1]

[1, 2, 3, 4]

In [10]:
a[-4:-1]

[2, 3, 4]

In [16]:
a[-1:-6:-1]

[5, 4, 3, 2, 1]

Tuples

In [17]:
b = (1,2,3,4,5)

In [18]:
type(b)

tuple

In [20]:
b[4]

5

In [21]:
b[2:4]

(3, 4)

Packing and unpacking in list and tuples

In [22]:
c = ("a", "b", "c", "d")

In [27]:
w, x, y, z = c

In [24]:
w

'a'

In [25]:
z

'd'

In [28]:
rectangle = [50, 100]
h, w = rectangle

In [29]:
h

50

In [30]:
w

100

FOR LOOPS

In [34]:
#print name 10 times
for i in range(1,10,2):
    print(i, "Zuha Ahmad")

1 Zuha Ahmad
3 Zuha Ahmad
5 Zuha Ahmad
7 Zuha Ahmad
9 Zuha Ahmad

In [35]:
for i in range(0,10,2):
    print(i, "Zuha Ahmad")

0 Zuha Ahmad
2 Zuha Ahmad
4 Zuha Ahmad
6 Zuha Ahmad
8 Zuha Ahmad

In [39]:
for i in range(10,1,-2):
    print(i, "Zuha Ahmad")

10 Zuha Ahmad
8 Zuha Ahmad
6 Zuha Ahmad
4 Zuha Ahmad
2 Zuha Ahmad

In [40]:
for i in range(10,0,-1):
    print(i, "Zuha Ahmad")

10 Zuha Ahmad
9 Zuha Ahmad
8 Zuha Ahmad
7 Zuha Ahmad
6 Zuha Ahmad
5 Zuha Ahmad
4 Zuha Ahmad
3 Zuha Ahmad
2 Zuha Ahmad
1 Zuha Ahmad

In [43]:
l = ["a", "b", "c", "d"]
for i in l:
    print(i)

a
b
c
d

In [45]:
num = [2, 3, 4, 5, 6]
num2 = []
for i in num:
    num2.append(i*2)
num2

[4, 6, 8, 10, 12]

In [46]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [47]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [48]:
for i in range(5):
    pass

In [55]:
x = (int)(input())
for i in range(1,11):
    print(f"{x} x {i} = {i*x}")

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [58]:
for i in "Pakistan":
    for j in range(5):
        print(i,j, end = " ")

P 0 P 1 P 2 P 3 P 4 a 0 a 1 a 2 a 3 a 4 k 0 k 1 k 2 k 3 k 4 i 0 i 1 i 2 i 3 i 4 s 0 s 1 s 2 s 3 s 4 t 0 t 1 t 2 t 3 t 4 a 0 a 1 a 2 a 3 a 4 n 0 n 1 n 2 n 3 n 4

In [61]:
fname = ["Anum", "Ayesha", "Zuha", "Rida", "Hafsa"]
lname = ["Ahmad"]
full = []
for i in fname:
    for j in lname:
        full.append(i + " "+ j)
print(full)

['Anum Ahmad', 'Ayesha Ahmad', 'Zuha Ahmad', 'Rida Ahmad', 'Hafsa Ahmad']

In [63]:
name = input("Enter name: ")
name.upper()

Enter name: ZUha

'ZUHA'

In [64]:
name.lower()

'zuha'

In [65]:
str = "Pakistan Zindabad"
len(str)

17

In [66]:
str[2:9]

'kistan '

In [67]:
str[:17]

'Pakistan Zindabad'

In [68]:
str[1:]

'akistan Zindabad'

# DICTIONARIES

In [70]:
dic = {}

In [71]:
type(dic)

dict

In [77]:
dic["name"]="Zuha"
dic["age"]="19"
dic["contact"]="4678889"

In [78]:
dic

{'name': 'Zuha', 'age': '19', 'contact': '4678889'}

In [79]:
dic['age']

'19'

In [80]:
del dic['age']

In [81]:
dic

{'name': 'Zuha', 'contact': '4678889'}

In [82]:
dic["age"]=19

In [83]:
dic

{'name': 'Zuha', 'contact': '4678889', 'age': 19}

In [84]:
for i in dic.keys():
    print(i)

name
contact
age

In [85]:
for i in dic.values():
    print(i)

Zuha
4678889
19

In [86]:
dic.values()

dict_values(['Zuha', '4678889', 19])

In [88]:
for i, j in dic.items():
    print(j)

Zuha
4678889
19

In [91]:
alist = [2,3,4,{'f':"2",'g':"3"}]

In [92]:
alist[3]

{'f': '2', 'g': '3'}

In [94]:
alist[3]['f']

'2'

In [96]:
"age" in dic

True

In [6]:
d = {'names':['das','sdf','rty'],'ages':[43,66,86]}

In [7]:
d['names'][2]

'rty'

In [8]:
d['ages'][1]

66