if Statements

In [1]:
a = 10
b = 20
a<b

True

In [9]:
a!=b

False

In [8]:
if a > b:
    print('if is true') 
else:
    print('if is false')

if is false

In [7]:
a = 20
if a == b:
    print('value is same')

value is same

In [12]:
temp = int(input("Enter the temperature today: "))#type cast
if temp > 30:
    print("Hot weather")
else:
    print("normal weather")

Enter the temperature today: 33
Hot weather

Nested ifs

In [ ]:
if a == b:
    if a > b:
        if a < b:
            if a != b:

In [14]:
cnic = input("Do you have your CNIC? ")
if cnic == "yes":
    print("please enter")
    nameInList = input("Is my name in the list? ")
    if nameInList == "yes":
        print("please cast your vote")
    else:
        print("You can't cast your vote")
else:
    print("please bring your CNIC")

Do you have your CNIC? yes
please enter
Is my name in the list? yes
please cast your vote

elif

In [19]:
marks = int(input("Enter your marks : "))
grade = ' '
if marks >= 90:
    grade = 'A*'
elif marks >= 80:
    grade = 'A'
elif marks >= 70:
    grade = 'B'
elif marks >= 60:
    grade = 'C'
elif marks >= 50:
    grade = 'D'
else:
    grade = 'F'
    print("You have failed")

print(f"Your grade is {grade} and your marks are {marks}." )

Enter your marks : 98
Your grade is A* and your marks are 98.

AND, OR operators

In [29]:
cnic = input("Do you have your CNIC? ")
nameInList = input("Is my name in the list? ")
if cnic == "yes" and nameInList == "yes":
    print("cast your vote")
else:
    print("You cannot vote")

Do you have your CNIC? yes
Is my name in the list? yes
cast your vote

Comments

In [25]:
#dcml

In [24]:
# cnic = input("Do you have your CNIC? ")
# nameInList = input("Is my name in the list? ")
# if cnic == "yes" and nameInList == "yes":
#     print("cast your vote")
# else:
#     print("You cannot vote")
#USE CTRL+/

In [31]:
# '''cnic = input("Do you have your CNIC? ")
# nameInList = input("Is my name in the list? ")
# if cnic == "yes" and nameInList == "yes":
#     print("cast your vote")
# else:
#     print("You cannot vote")'''

LIST

In [33]:
students = ["Zuha", "Sarah", "Iman", "Sidra"]
students

['Zuha', 'Sarah', 'Iman', 'Sidra']

In [34]:
students[1]

'Sarah'

In [38]:
manyTypes = [32, "we", 3.0]

In [39]:
manyTypes

[32, 'we', 3.0]

In [40]:
students.append("Marium")

In [41]:
students

['Zuha', 'Sarah', 'Iman', 'Sidra', 'Marium']

In [42]:
students.insert(4,"Ayesha")

In [43]:
students

['Zuha', 'Sarah', 'Iman', 'Sidra', 'Ayesha', 'Marium']

In [44]:
del students[0]
students

['Sarah', 'Iman', 'Sidra', 'Ayesha', 'Marium']

In [45]:
students[1] = "Zuha"

In [46]:
students

['Sarah', 'Zuha', 'Sidra', 'Ayesha', 'Marium']

In [49]:
newList = []

[34]

In [50]:
newList.append(34)
newList

[34, 34]

In [51]:
del newList[1]

In [52]:
newList

[34]

In [57]:
newList.append(5)
newList

[34, 4, 5, 5]

In [59]:
newList[3] = 4
newList

[34, 4, 5, 4]

In [61]:
newList.insert(20, 5)
newList

[5, 34, 4, 5, 4, 5]

In [63]:
newList.index(5)

0

In [64]:
newList = [0, 1, 2, 3]
newList.insert(30, 4)
newList

[0, 1, 2, 3, 4]

In [65]:
newList.index(4)

4

In [66]:
del newList[4]
newList

[0, 1, 2, 3]

In [67]:
newList.remove(0)
newList

[1, 2, 3]

In [68]:
del newList[newList.index(2)]
newList

[1, 3]

In [69]:
letters = ["a", "b", "c"]
letters

['a', 'b', 'c']

In [71]:
letters.append("d")
letters

['a', 'b', 'c', 'd']

sort

In [73]:
nums = [2,5,6,7,8,9,3,6,7]
nums.sort()
nums

[2, 3, 5, 6, 6, 7, 7, 8, 9]

In [75]:
nums.sort(reverse = True)
nums

[9, 8, 7, 7, 6, 6, 5, 3, 2]

In [76]:
letters = ["a", "b", "c"]

In [79]:
letters.sort(reverse = True)
letters

['c', 'b', 'a']

In [80]:
nums2 = nums
nums2

[9, 8, 7, 7, 6, 6, 5, 3, 2]

In [82]:
del nums[2]

nums2

[9, 8, 6, 6, 5, 3, 2]

In [83]:
copyNums = nums.copy()

In [84]:
copyNums

[9, 8, 6, 6, 5, 3, 2]

In [85]:
copyNums[2] = 7
print(copyNums)

[9, 8, 7, 6, 5, 3, 2]

In [86]:
nums.reverse()
print(nums)

[2, 3, 5, 6, 6, 8, 9]

Popping elements

In [87]:
popElement = nums.pop()
popElement

9

In [100]:
nums = [1,3,5,7]
popElements = []

In [102]:
if len(nums) != 0:
    popElement = nums.pop()
    popElements.append(popElement)
    print(nums)
    print(popElements)
else: 
    print("List is Empty")

[1, 3]
[7, 5]

LIST In LIST

In [104]:
x = [1, 2, ["a", "b", "c"]]

In [107]:
x[2]

['a', 'b', 'c']

In [109]:
x[2][0]

'a'

In [127]:
fruits = ["mango", "apple"]
List = [fruits, letters, nums, students]
List

[['mango', 'apple'],
 ['c', 'b', 'a'],
 [1, 3],
 ['Sarah', 'Zuha', 'Sidra', 'Ayesha']]

In [130]:
List[3].remove("Sarah")

In [132]:
List

[['mango', 'apple'], ['c', 'a'], [1, 3], ['Zuha', 'Sidra', 'Ayesha']]

In [131]:
del List[1][1]
List

[['mango', 'apple'], ['c', 'a'], [1, 3], ['Zuha', 'Sidra', 'Ayesha']]

Slicing

In [133]:
#         -6 -5 -4 -3  -2  -1
numbers = [2, 4, 6, 8, 10, 12]

In [134]:
numbers[-3]

8

In [135]:
numbers[1:4]

[4, 6, 8]

In [138]:
numbers[-5:5]

[4, 6, 8, 10]

In [142]:
numbers[1:6:2]

[4, 8, 12]

In [143]:
numbers[1:]

[4, 6, 8, 10, 12]

In [144]:
numbers[:5]

[2, 4, 6, 8, 10]

In [146]:
numbers[::3]

[2, 8]

In [149]:
numbers[-1:-7: -1]

[12, 10, 8, 6, 4, 2]